# Python Basics

In [2]:
print("Hello Python!")

Hello Python!

### Variables

In [56]:
myVar = "Welcome"
print(myVar)

Welcome

### Data Types - String, Integer, Float, Complex, Bool, List, Tuple, Set, Dict

In [57]:
print(type(myVar))

<class 'str'>

In [5]:
intNum = 128
print(intNum, type(intNum))

floatNum = 54.234
print(floatNum, type(floatNum))

boolValue = True
print(boolValue, type(boolValue))

complexValue = 23 + 4j
print(complexValue, "Type: ", type(complexValue))

128 <class 'int'>
54.234 <class 'float'>
True <class 'bool'>
(23+4j) Type:  <class 'complex'>

### Operators 
1. Arithemetic (+, -, *, /, //, %, **)
2. Relational (>, >=,<, <=, ==)
3. Logical (and, or, not)
4. Bitwise (&, |, ~, ^, >>, <<)
5. Misc: Shorthand expression (eg. a += 1)

#### Arithmetic Operators

In [36]:
num1 = 12
num2 = 26
num3 = 31

print("Sum:", num1 + num2)
print("Difference:", num2 - num1)
print("Product:", num1 * num2)
print("Division:", num3 / num1)
print("Floor Division:", num3 // num1)
print("Remainder:", num2 % num1)
print("Power:", num1 ** 2)

Sum: 38
Difference: 14
Product: 312
Division: 2.5833333333333335
Floor Division: 2
Remainder: 2
Power: 144

#### F String

In [13]:
print(f'Sum of {num1} and {num2} is: {num1 + num2}')

Sum of 12 and 26 is: 38

#### Relational Operators

In [15]:
print(num2 > num1)
print(num3 <= num2)
print(num1 != num2)
print(num1 == num2)

True
False
True
False

#### Logical Operators

In [17]:
print(True and True)
print(True and False)

print(True or False)
print(False or False)

print(not True)

True
False
True
False
False

#### Bitwise Operators

In [37]:
num1 = 12
num2 = 9
num3 = -17

binaryNum1 = bin(num1)
binaryNum2 = bin(num2)
binaryNum3 = bin(num3)

print(f'{binaryNum1} & {binaryNum2} ----> {num1 & num2}')
print(f'{binaryNum1} | {binaryNum2} ----> {num1 | num2}')
print(f'~{num1} ----> {~num1}')
print(f'~{num3} ----> {~num3}')
print(f'{binaryNum1} ^ {binaryNum2} (XOR) ----> {num1 ^ num2}')
print(f'{num1} >> 2 = ({num1} / (2 ** 2)) ----> {num1 >> 2}')
print(f'{num1} << 3 = ({num1} * (2 ** 3)) ----> {num1 << 3}')

print(0b1101)

0b1100 & 0b1001 ----> 8
0b1100 | 0b1001 ----> 13
~12 ----> -13
~-17 ----> 16
0b1100 ^ 0b1001 (XOR) ----> 5
12 >> 2 = (12 / (2 ** 2)) ----> 3
12 << 3 = (12 * (2 ** 3)) ----> 96
13

#### Shorthand Operators

In [38]:
num1 = 15
num1 += 1
print(num1)

16

### String

In [52]:
myStr1 = "this is Python Notebook"
myStr2 = "   Laptop         "
myStr3 = "Smartphone"
myStr4 = "3456"
myStr5 = "bluetooth123" 

print(len(myStr1))

23

#### String Slicing

In [53]:
print(myStr1[1])
print(myStr1[-1])
print(myStr1[8:])
print(myStr1[8:])
print(myStr1[::-1])
print(myStr1[::2])

h
k
Python Notebook
Python Notebook
koobetoN nohtyP si siht
ti sPto oeok

#### String Methods

In [54]:
print(myStr1.capitalize())
print(myStr1.upper())
print(myStr1.lower())
print(myStr1.index("P"))
print(myStr1.find("s"))
print(myStr1.split(" "))
print(myStr1.startswith("t"))
print(myStr1.endswith("k"))
print(myStr1.center(50, "-"))

print(myStr2.lstrip(" "))
print(myStr2.rstrip(" "))
print(myStr2.strip(" "))

print(myStr3.ljust(20, "*"))
print(myStr3.rjust(20, "^"))

print(myStr1.count("o"))
print(myStr5.isupper())
print(myStr5.islower())
print(myStr3.isalpha())
print(myStr4.isdigit())
print(myStr5.isalnum())

This is python notebook
THIS IS PYTHON NOTEBOOK
this is python notebook
8
3
['this', 'is', 'Python', 'Notebook']
True
True
-------------this is Python Notebook--------------
Laptop
   Laptop
Laptop
Smartphone**********
^^^^^^^^^^Smartphone
4
False
True
True
True
True

### Conditional Statements

In [67]:
num1 = int(input("Enter Number: "))
if num1 % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [71]:
age = int(input("Enter Age: "))
if age >= 56:
    print("Senior Citizens")
elif age >= 24 and age < 56:
    print("Citizens")
elif age >= 18 and age < 24:
    print("Young Adults")
else:
    print("Children")

Children

#### Range

In [75]:
myRange1 = range(1, 11)
myRange2 = range(10, 101, 5)

### Iterative Statements

In [81]:
myStr = "Landlord"
for char in myStr:
    print(char, end= "")
print()

for _ in myRange1:
    print(_, end=" ")
print()

for _ in myRange2:
    print(_, end=" ")
print()

num = 0
while num < 11:
    print(num, end=" ")
    num += 1
print()

Landlord
1 2 3 4 5 6 7 8 9 10
10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
0 1 2 3 4 5 6 7 8 9 10

In [86]:
for num in range(20):
    if num % 2 == 0:
        continue
    if num > 13:
        break

    print(num, end=" ")
print()

1 3 5 7 9 11 13

### List

In [55]:
myList = [23, 45, "Nailor", 67.412, False, "Python", "Paul", [3, 4, 5], True]
print(myList)
print("List:",type(myList))

[23, 45, 'Nailor', 67.412, False, 'Python', 'Paul', [3, 4, 5], True]
List: <class 'list'>

#### List Traversal

In [83]:
print(myList)
print(len(myList))

for item in myList:
    print(item, end=" ")
print()

for index in range(len(myList)):
    print(index, myList[index])
print()

[23, 45, 'Nailor', 67.412, False, 'Python', 'Paul', [3, 4, 5], True]
9
23 45 Nailor 67.412 False Python Paul [3, 4, 5] True
0 23
1 45
2 Nailor
3 67.412
4 False
5 Python
6 Paul
7 [3, 4, 5]
8 True

#### List Slicing

#### List Methods

### Tuple

In [7]:
myTuple = (23, 45, 67.412, False, "Python", "Project", [3, 4, 5], True)
print(myTuple)
print("Type:", type(myTuple))

(23, 45, 67.412, False, 'Python', 'Project', [3, 4, 5], True)
Type: <class 'tuple'>