# Python Basics

In [2]:
print("Hello Python!")

Hello Python!

### Variables

In [56]:
myVar = "Welcome"
print(myVar)

Welcome

### Data Types - String, Integer, Float, Complex, Bool, List, Tuple, Set, Dict

In [57]:
print(type(myVar))

<class 'str'>

In [5]:
intNum = 128
print(intNum, type(intNum))

floatNum = 54.234
print(floatNum, type(floatNum))

boolValue = True
print(boolValue, type(boolValue))

complexValue = 23 + 4j
print(complexValue, "Type: ", type(complexValue))

128 <class 'int'>
54.234 <class 'float'>
True <class 'bool'>
(23+4j) Type:  <class 'complex'>

### Operators 
1. Arithemetic (+, -, *, /, //, %, **)
2. Relational (>, >=,<, <=, ==)
3. Logical (and, or, not)
4. Bitwise (&, |, ~, ^, >>, <<)
5. Misc: Shorthand expression (eg. a += 1)

#### Arithmetic Operators

In [36]:
num1 = 12
num2 = 26
num3 = 31

print("Sum:", num1 + num2)
print("Difference:", num2 - num1)
print("Product:", num1 * num2)
print("Division:", num3 / num1)
print("Floor Division:", num3 // num1)
print("Remainder:", num2 % num1)
print("Power:", num1 ** 2)

Sum: 38
Difference: 14
Product: 312
Division: 2.5833333333333335
Floor Division: 2
Remainder: 2
Power: 144

#### String formatting

In [1]:
print('Message-%d: Hi %s, Welcome to %s.' %(17, "Mohan", "Python Learning"))

Message-17: Hi Mohan, Welcome to Python Learning.

In [3]:
print('Message-{}: Hi {}, Welcome to {}.'.format(17, "Mohan", "Python Learning"))

Message-17: Hi Mohan, Welcome to Python Learning.

#### F String

In [13]:
print(f'Sum of {num1} and {num2} is: {num1 + num2}')

Sum of 12 and 26 is: 38

#### Relational Operators

In [15]:
print(num2 > num1)
print(num3 <= num2)
print(num1 != num2)
print(num1 == num2)

True
False
True
False

#### Logical Operators

In [17]:
print(True and True)
print(True and False)

print(True or False)
print(False or False)

print(not True)

True
False
True
False
False

#### Bitwise Operators

In [37]:
num1 = 12
num2 = 9
num3 = -17

binaryNum1 = bin(num1)
binaryNum2 = bin(num2)
binaryNum3 = bin(num3)

print(f'{binaryNum1} & {binaryNum2} ----> {num1 & num2}')
print(f'{binaryNum1} | {binaryNum2} ----> {num1 | num2}')
print(f'~{num1} ----> {~num1}')
print(f'~{num3} ----> {~num3}')
print(f'{binaryNum1} ^ {binaryNum2} (XOR) ----> {num1 ^ num2}')
print(f'{num1} >> 2 = ({num1} / (2 ** 2)) ----> {num1 >> 2}')
print(f'{num1} << 3 = ({num1} * (2 ** 3)) ----> {num1 << 3}')

print(0b1101)

0b1100 & 0b1001 ----> 8
0b1100 | 0b1001 ----> 13
~12 ----> -13
~-17 ----> 16
0b1100 ^ 0b1001 (XOR) ----> 5
12 >> 2 = (12 / (2 ** 2)) ----> 3
12 << 3 = (12 * (2 ** 3)) ----> 96
13

#### Shorthand Operators

In [38]:
num1 = 15
num1 += 1
print(num1)

16

### String

In [52]:
myStr1 = "this is Python Notebook"
myStr2 = "   Laptop         "
myStr3 = "Smartphone"
myStr4 = "3456"
myStr5 = "bluetooth123" 

print(len(myStr1))

23

#### String Slicing

In [53]:
print(myStr1[1])
print(myStr1[-1])
print(myStr1[8:])
print(myStr1[8:])
print(myStr1[::-1])
print(myStr1[::2])

h
k
Python Notebook
Python Notebook
koobetoN nohtyP si siht
ti sPto oeok

#### String Methods

In [54]:
print(myStr1.capitalize())
print(myStr1.upper())
print(myStr1.lower())
print(myStr1.index("P"))
print(myStr1.find("s"))
print(myStr1.split(" "))
print(myStr1.startswith("t"))
print(myStr1.endswith("k"))
print(myStr1.center(50, "-"))

print(myStr2.lstrip(" "))
print(myStr2.rstrip(" "))
print(myStr2.strip(" "))

print(myStr3.ljust(20, "*"))
print(myStr3.rjust(20, "^"))

print(myStr1.count("o"))
print(myStr5.isupper())
print(myStr5.islower())
print(myStr3.isalpha())
print(myStr4.isdigit())
print(myStr5.isalnum())

This is python notebook
THIS IS PYTHON NOTEBOOK
this is python notebook
8
3
['this', 'is', 'Python', 'Notebook']
True
True
-------------this is Python Notebook--------------
Laptop
   Laptop
Laptop
Smartphone**********
^^^^^^^^^^Smartphone
4
False
True
True
True
True

### Conditional Statements

In [67]:
num1 = int(input("Enter Number: "))
if num1 % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [71]:
age = int(input("Enter Age: "))
if age >= 56:
    print("Senior Citizens")
elif age >= 24 and age < 56:
    print("Citizens")
elif age >= 18 and age < 24:
    print("Young Adults")
else:
    print("Children")

Children

#### Range

In [75]:
myRange1 = range(1, 11)
myRange2 = range(10, 101, 5)

### Iterative Statements

In [81]:
myStr = "Landlord"
for char in myStr:
    print(char, end= "")
print()

for _ in myRange1:
    print(_, end=" ")
print()

for _ in myRange2:
    print(_, end=" ")
print()

num = 0
while num < 11:
    print(num, end=" ")
    num += 1
print()

Landlord
1 2 3 4 5 6 7 8 9 10
10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
0 1 2 3 4 5 6 7 8 9 10

In [86]:
for num in range(20):
    if num % 2 == 0:
        continue
    if num > 13:
        break

    print(num, end=" ")
print()

1 3 5 7 9 11 13

### List

In [55]:
myList = [23, 45, "Nailor", 67.412, False, "Python", "Paul", [3, 4, 5], True]
print(myList)
print("List:",type(myList))

[23, 45, 'Nailor', 67.412, False, 'Python', 'Paul', [3, 4, 5], True]
List: <class 'list'>

#### List Traversal

In [83]:
print(myList)
print(len(myList))

for item in myList:
    print(item, end=" ")
print()

for index in range(len(myList)):
    print(index, myList[index])
print()

[23, 45, 'Nailor', 67.412, False, 'Python', 'Paul', [3, 4, 5], True]
9
23 45 Nailor 67.412 False Python Paul [3, 4, 5] True
0 23
1 45
2 Nailor
3 67.412
4 False
5 Python
6 Paul
7 [3, 4, 5]
8 True

#### List Slicing

In [92]:
print(myList[2])
print(myList[5:])
print(myList[5:7])
print(myList[::3])
print(myList[::-1])
print(myList[7][1])

Nailor
['Python', 'Paul', [3, 4, 5], True]
['Python', 'Paul']
[23, 67.412, 'Paul']
[True, [3, 4, 5], 'Paul', 'Python', False, 67.412, 'Nailor', 45, 23]
4

#### List Comprehension, Shallow and Deep Copy

In [97]:
myList1 = [i for i in range(1,11)]
print(myList1)

myList2 = myList1
myList1[2] = "A"

print(myList1)
print(myList2)

myList3 = [i for i in range(1,6)]
myList4 = myList3.copy()

myList4[1] = "Z"
print(myList3)
print(myList4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 'A', 4, 5, 6, 7, 8, 9, 10]
[1, 2, 'A', 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 'Z', 3, 4, 5]

#### List Methods

In [113]:
myList = [23, 45.671, "Remote", "Laptop", False]
print(myList)

myList.append("Smartphone")
print(myList)

myList.extend(["F", "K", 34])
print(myList)

[23, 45.671, 'Remote', 'Laptop', False]
[23, 45.671, 'Remote', 'Laptop', False, 'Smartphone']
[23, 45.671, 'Remote', 'Laptop', False, 'Smartphone', 'F', 'K', 34]

In [114]:
myList.insert(1, "Keyboard")
print(myList)

myList.pop()
print(myList)

myList.remove("Remote")
print(myList)

print(myList.index("Smartphone"))

myList.reverse()
print(myList)

[23, 'Keyboard', 45.671, 'Remote', 'Laptop', False, 'Smartphone', 'F', 'K', 34]
[23, 'Keyboard', 45.671, 'Remote', 'Laptop', False, 'Smartphone', 'F', 'K']
[23, 'Keyboard', 45.671, 'Laptop', False, 'Smartphone', 'F', 'K']
5
['K', 'F', 'Smartphone', False, 'Laptop', 45.671, 'Keyboard', 23]

In [117]:
print(myList)
myList.pop(3)
print(myList)

['K', 'F', 'Smartphone', 'Laptop', 45.671, 'Keyboard', 23]
['K', 'F', 'Smartphone', 45.671, 'Keyboard', 23]

In [120]:
myList = ['A', 'B', 'C', 'C', 'E', 'A', 'A']
print(myList.count('A'))

3

In [118]:
myList2 = [6, 4, 1, 3, 2]
myList2.sort()
print(myList2)

myList3 = [6, 4, 1, 3, 2]
myList3.sort(reverse=True)
print(myList3)

[1, 2, 3, 4, 6]
[6, 4, 3, 2, 1]

In [119]:
myList.clear()
print(myList)

[]

### Tuple

In [130]:
myTuple = (23, 45, 67.412, False, 'C', "Python", "Project", [3, 4, 5], True, 'C', 'A')
print(myTuple)
print("Type:", type(myTuple))

(23, 45, 67.412, False, 'C', 'Python', 'Project', [3, 4, 5], True, 'C', 'A')
Type: <class 'tuple'>

In [131]:
print(myTuple[2])
print(myTuple[1:4])
print(myTuple[::-1])

67.412
(45, 67.412, False)
('A', 'C', True, [3, 4, 5], 'Project', 'Python', 'C', False, 67.412, 45, 23)

In [132]:
print(myTuple.count('C'))
print(myTuple.index('Python'))

2
5

In [138]:
myTuple[7][1] = 'F'
myTuple

(23, 45, 67.412, False, 'C', 'Python', 'Project', [3, 'F', 5], True, 'C', 'A')

### Set

In [146]:
myList = [1, 2, 3, 3, 5, 6, 5, 1]
mySet = set(myList)
print(mySet)

mySet.add(7)
print(mySet)

mySet.remove(6)
print(mySet)

print(mySet.__contains__(4))
print(mySet.__contains__(7))

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 7}
False
True

In [142]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {4, 5, 6, 7, 8}

print(mySet1 - mySet2)
print(mySet1.union(mySet2))
print(mySet1.intersection(mySet2))

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

### Dictonary

In [152]:
myDict = {"A": 1, "B": 2, "C": True, "D": [3, 4, 'F'], "E": "Paul"}
myDict

{'A': 1, 'B': 2, 'C': True, 'D': [3, 4, 'F'], 'E': 'Paul'}

In [154]:
print(myDict["A"])
print(myDict.get("D"))

myDict["E"] = "Brandon"
print(myDict)

myDict["F"] = True
print(myDict)

1
[3, 4, 'F']
{'A': 1, 'B': 2, 'C': True, 'D': [3, 4, 'F'], 'E': 'Brandon'}
{'A': 1, 'B': 2, 'C': True, 'D': [3, 4, 'F'], 'E': 'Brandon', 'F': True}

In [156]:
print(myDict.keys())
print(myDict.values())

dict_keys(['A', 'B', 'C', 'D', 'E', 'F'])
dict_values([1, 2, True, [3, 4, 'F'], 'Brandon', True])

In [157]:
myDict.pop("B")
print(myDict)

{'A': 1, 'C': True, 'D': [3, 4, 'F'], 'E': 'Brandon', 'F': True}

### Functions

In [1]:
def add(num1 = 0, num2 = 0):
    return num1 + num2

print(add(13, 12))
print(add(13))
print(add(num2 = 15, num1 = 18))

25
13
33

#### Lambda Functions

In [2]:
product = lambda num1, num2: num1 * num2
print(product(12, 8))

96

#### Map, Filter and Reduce

In [3]:
myList = [1, 3, 2, 5, 4]

##### Map

In [5]:
myMappedList = map(lambda x : x * 2, myList)
for _ in myMappedList:
    print(_, end=" ")

2 6 4 10 8

##### Filter

In [6]:
myFilteredList = filter(lambda x : x % 2 == 0, myList)
for _ in myFilteredList:
    print(_, end=" ")

2 4

##### Reduce

In [10]:
import functools 
myListSum = functools.reduce(lambda x, acc = 0 : x + acc, myList)
print(myListSum)

15

### Virtual Environments

#### Create seperate vrtual environment to avoid dependency and compatability issues.

In [3]:
#pip install virtualenv

#mkdir web_apps
#cd web_apps

#python -m venv .

#.\Scripts\activate.bat