# Scientific Computations and Data Transformations with Python

### Math

In [10]:
import math

In [11]:
print(math.pow(7, 2))
print(7 ** 2)

print(math.sqrt(64))

49.0
49
8.0

In [12]:
print(round(24.63))
print(round(24.47))

print(math.floor(28.73))
print(math.ceil(28.36))

25
24
28
29

In [13]:
print(math.exp(2))
print(math.pi)

7.38905609893065
3.141592653589793

In [15]:
print(math.factorial(5))

120

### Time

In [19]:
import time

In [23]:
curr_date_time = time.ctime()
print(curr_date_time)

Mon Mar 11 09:49:05 2024

In [36]:
print(time.gmtime()) #GMT Time

print(time.gmtime().tm_year)
print(time.gmtime().tm_zone)

time.struct_time(tm_year=2024, tm_mon=3, tm_mday=11, tm_hour=4, tm_min=25, tm_sec=24, tm_wday=0, tm_yday=71, tm_isdst=0)
2024
UTC

In [32]:
for count in range(3):
    print(f"Count: {count + 1}")
    time.sleep(2)

Count: 1
Count: 2
Count: 3

In [38]:
curr_local_time = time.localtime()

print(curr_local_time.tm_mon)
print(curr_local_time.tm_mday)

print(curr_local_time.tm_hour)
print(curr_local_time.tm_min)

3
11
9
57

In [42]:
print(type(curr_date_time))

<class 'str'>

#### strftime -> Converts Time Struct to String

In [54]:
date_time = time.localtime()
date_time_str = time.strftime("%Y-%m-%d %H:%M:%S", date_time)

print(date_time_str)

2024-03-11 10:19:49

#### strptime -> Converts String to Time Struct

In [57]:
date_time_str = "2024-03-11 11:30:00"
date_time = time.strptime(date_time_str, "%Y-%m-%d %H:%M:%S")
print(date_time)

time.struct_time(tm_year=2024, tm_mon=3, tm_mday=11, tm_hour=11, tm_min=30, tm_sec=0, tm_wday=0, tm_yday=71, tm_isdst=-1)

### Regular Expression Matching (Regex)

In [1]:
import re

In [2]:
pattern = re.compile("Warm")
pattern.search("Global Warming")

In [77]:
ob = re.search("al", "Global Warming")
print(ob)
print(ob.group())

<re.Match object; span=(4, 6), match='al'>
al

In [6]:
re.findall("ing", "Global Warming is a concerning issue")

['ing', 'ing']

In [87]:
print(re.search(".*", "Digital @ 79 Era") is not None)
print(re.search(".+", "Digital @ 79 Era") is not None)

print(re.search("Z*", "Digital @ 79 Era") is not None)
print(re.search("Z+", "Digital @ 79 Era") is not None)

True
True
True
False

In [82]:
print(re.search("^D", "Digital @ 79 Era") is not None)
print(re.search("^[A-Za-z]", "Digital @ 79 Era") is not None)
print(re.search("^[A-C]", "Digital @ 79 Era") is not None)

print(re.search("a$", "Digital @ 79 Era") is not None)
print(re.search("[b-e]$", "Digital @ 79 Era") is not None)

True
True
False
True
False

In [213]:
print(re.search("[0-9]", "Digital @ 79 Era") is not None)
print(re.search("[0-5]", "Digital @ 79 Era") is not None)

True
False

In [214]:
print(re.search("@+", "Digital @ 79 Era") is not None)

print(re.search("\$+", "Digital $ 79 Era") is not None)
print(re.search("\^+", "Digital ^ 79 Era") is not None)
print(re.search(rf"\\+", "Digital \ 79 Era") is not None)

print(re.search("\ +", "Digital79Era") is not None)

True
True
True
True
False

In [146]:
print(re.findall("[ABC]", "INDIA"))
print(re.findall("[^ABC]", "INDIA"))
print(re.findall("[XYZ]", "INDIA"))

['A']
['I', 'N', 'D', 'I']
[]

In [219]:
print(re.search("\d", "ABCDE") is not None)
print(re.search("\d", "ABCDE457") is not None)

print(re.search("\D", "ABCDE") is not None)
print(re.search("\D", "457") is not None)

print(re.search("\w", "ABCDE457") is not None)
print(re.search("\w", "#@ *^$") is not None)

print(re.search("\W", "#@ *^$") is not None)

False
True
True
False
True
False
True

In [179]:
print(re.search("A{1}", "AAABCD") is not None)
print(re.search("A{4}", "AAABCD") is not None)
print(re.search("A{1,3}", "AAABCD") is not None)
print(re.search("A{4,10}", "AAABCD") is not None)
print(re.search("A{3,}", "AAABCD") is not None)

print(re.search("[ABC]{1}", "INDIA") is not None)
print(re.search("[ABC]{1}", "EGYPT") is not None)

True
False
True
False
True
True
False

### JSON Data Manipulation

In [224]:
import json

In [238]:
customers_str = '{"id": "101","name": "Paul Brandon","age": "35","active": "Yes"}'

In [242]:
customers_json_ob = json.loads(customers_str)
print(customers_json_ob)
print(type(customers_json_ob))

{'id': '101', 'name': 'Paul Brandon', 'age': '35', 'active': 'Yes'}
<class 'dict'>

In [243]:
customers_json_ob["name"]

'Paul Brandon'

In [244]:
customer_res_str = json.dumps(customers_json_ob)
customer_res_str

'{"id": "101", "name": "Paul Brandon", "age": "35", "active": "Yes"}'

In [245]:
cust_dict = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

cust_str = json.dumps(cust_dict)

In [246]:
cust_str

'{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}'