# System Integrations with Python

1. File System
2. REST APIs
3. SMTP (Email)
4. Databases - SQL
5. Remote File Systems: FTP and SFTP

### File System

In [1]:
try:
    fin = open("resources/customers.csv", "r")
    #print(fin.readlines())  #Read all lines at once
    #print(fin.readline()) #Read line by line
    while (currLine := fin.readline()):
        print(currLine)
    fin.close()
except FileNotFoundError as fe:
    print(fe)

id,name,age,active

101,Paul Brandon,35,Yes

102,Tina Nailor,33,No

103,John Doe,26,Yes

104,Jason Pine,45,Yes

105,Rock Slyver,52,No

In [2]:
activeCustomers = []
try:
    fin = open("resources/customers.csv", "r")
    header = fin.readline()
    while (currLine := fin.readline()):
        if currLine.split(",")[-1].startswith("Yes"):
            activeCustomers.append(currLine)
    fin.close()
except FileNotFoundError as fe:
    print(fe)

print(activeCustomers)

['101,Paul Brandon,35,Yes\n', '103,John Doe,26,Yes\n', '104,Jason Pine,45,Yes\n']

In [3]:
try:
    fout = open("resources/activeCustomers.csv", "w") #Write mode (will overwrite the existing content in the file)
    #fout = open("resources/activeCustomers.csv", "a") #Append mode (will append the new content without overwriting the existing content)
    for customerLine in activeCustomers:
        fout.write(customerLine)
    #fout.write("\n")
    fout.close()
except Exception as e:
    print(e)

### REST APIs

In [4]:
import requests

In [5]:
url = "https://jsonplaceholder.typicode.com/posts"

In [6]:
id = 5

In [8]:
try:
    #resp = requests.get(url, attributes)
    resp = requests.get(url+"/"+str(id))
    if resp.status_code == 200:
        #print("Response in raw format:", resp.text)
        print("Response in JSON format:", resp.json())
        print("Headers: ",resp.headers)
        print("Media Type:", resp.headers['Content-Type'])
except Exception as e:
    print(e)

Response in JSON format: {'userId': 1, 'id': 5, 'title': 'nesciunt quas odio', 'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}
Headers:  {'Date': 'Wed, 20 Mar 2024 15:55:33 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Report-To': '{"group":"heroku-nel","max_age":3600,"endpoints":[{"url":"https://nel.heroku.com/reports?ts=1710353771&sid=e11707d5-02a7-43ef-b45e-2cf4d2036f7d&s=EoHwxNsx4vXT3Glp3y4lgD5UiP4qHnPvys7c6gox76I%3D"}]}', 'Reporting-Endpoints': 'heroku-nel=https://nel.heroku.com/reports?ts=1710353771&sid=e11707d5-02a7-43ef-b45e-2cf4d2036f7d&s=EoHwxNsx4vXT3Glp3y4lgD5UiP4qHnPvys7c6gox76I%3D', 'Nel': '{"report_to":"heroku-nel","max_age":3600,"success_fraction":0.005,"failure_fraction":0.05,"response_headers":["Via"]}', 'X-Powered-By': 'Express', 'X-Ratelimit-Limit': '1000', 'X-Ratelimit-Remaining': '999', 'X-Ratelimit-Reset': '1710353822', 'Vary': 'Origin, Accept-Encoding', 'Access-Control-Allow-Credentials': 'true', 'Cache-Control': 'max-age=43200', 'Pragma': 'no-cache', 'Expires': '-1', 'X-Content-Type-Options': 'nosniff', 'Etag': 'W/"e1-IivojO0CtPZmcMK0iydTbsfG7Wc"', 'Via': '1.1 vegur', 'CF-Cache-Status': 'HIT', 'Age': '3649', 'Server': 'cloudflare', 'CF-RAY': '8676e31d6ddb383a-FRA', 'Content-Encoding': 'gzip', 'alt-svc': 'h3=":443"; ma=86400'}
Media Type: application/json; charset=utf-8

In [9]:
resp.json()

{'userId': 1,
 'id': 5,
 'title': 'nesciunt quas odio',
 'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}

#### CRUD Operations with REST API

In [12]:
url = "https://reqres.in/api/users/"

#### Read (GET)

In [13]:
id = 3

In [14]:
try:
    resp = requests.get(url + str(id))
    if resp.status_code == 200:
        resp_body = resp.json()
except Exception as e:
    print(e)

In [15]:
resp_body

{'data': {'id': 3,
  'email': 'emma.wong@reqres.in',
  'first_name': 'Emma',
  'last_name': 'Wong',
  'avatar': 'https://reqres.in/img/faces/3-image.jpg'},
 'support': {'url': 'https://reqres.in/#support-heading',
  'text': 'To keep ReqRes free, contributions towards server costs are appreciated!'}}

#### Create (POST)

In [16]:
req_body = {
    "name": "Paul Brandon",
    "job": "Telecomm Operator"
}

In [17]:
try:
    resp = requests.post(url, req_body)
    if resp.status_code == 201:
        resp_body = resp.json()
except Exception as e:
    print(e)

In [18]:
resp_body

{'name': 'Paul Brandon',
 'job': 'Telecomm Operator',
 'id': '511',
 'createdAt': '2024-03-20T16:08:30.755Z'}

#### Update (PUT)

In [20]:
req_body = {
    "name": "Paul Brandon",
    "job": "Software Engineer"
}

In [23]:
try:
    resp = requests.put(url + str(id), req_body)
    if resp.status_code == 200:
        resp_body = resp.json()
except Exception as e:
    print(e)

In [24]:
resp_body

{'name': 'Paul Brandon',
 'job': 'Software Engineer',
 'updatedAt': '2024-03-20T16:12:18.190Z'}

#### Delete (DELETE)

In [25]:
try:
    resp = requests.delete(url + str(id))
    print(resp.status_code)
except Exception as e:
    print(e)

204

### Email (SMTP)

In [11]:
import smtplib
from email.mime.text import MIMEText

In [35]:
subject = "Python - Sample Email Subject"
body = "Hi,\n\nThis is the sample body of the email sent from Python\n\nRegards,\nPython SMTPLIB"
sender = "<sender@gmail.com>"
password = "<App Password (16 Character)>" #Not regular Google User Password - Generate App Password In Google Account Page.
recipients = ["receiver1@gmail.com", "receiver2@gmail.com"]

In [33]:
def send_email(subject, body, sender, recipients, password):
   msg = MIMEText(body)
   msg['Subject'] = subject
   msg['From'] = sender
   msg['To'] = ', '.join(recipients)
   with smtplib.SMTP_SSL(host='smtp.gmail.com', port=465) as smtp_server:
      smtp_server.login(user=sender, password=password)
      smtp_server.sendmail(from_addr=sender, to_addrs=recipients, msg=msg.as_string())
   print("Mail sent!")

In [34]:
send_email(subject, body, sender, recipients, password)

Mail sent!

## Databases

#### SQL -> MySQL

In [1]:
import mysql.connector as db

#### Reading properties from files

In [2]:
from jproperties import Properties

In [3]:
configs = Properties()
with open('resources/properties/dev.properties', 'rb') as config_file:
    configs.load(config_file)

host = configs.get("HOST").data
port = configs.get("PORT").data
username = configs.get("USERNAME").data
password = configs.get("PASSWORD").data

#### Database connectivity

In [153]:
dbConn = db.connect(host = host, port = port, user = username, passwd = password)

#### Read -> SELECT

In [72]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees;"
myCursor.execute(selectQuery)

In [73]:
res = myCursor.fetchall()
#res = myCursor.fetchmany(size = 2)
#res = myCursor.fetchone()

res

[(1, 'Paul', 'Brandon', datetime.date(1978, 3, 12), 'Sales', '+41 456234'),
 (2, 'Tina', 'Nailor', datetime.date(1980, 11, 9), 'HR', '+41 987456'),
 (3, 'John', 'Doe', datetime.date(1995, 7, 14), 'IT', '+41 877245'),
 (5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]

In [130]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees WHERE department='IT';"
myCursor.execute(selectQuery)

myCursor.fetchall()

[(5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]

#### Execute Multiple SQL Statements using single execute method

In [154]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees WHERE department='IT'; SELECT * FROM python_de.employees WHERE first_name like 'P%';"
results = myCursor.execute(selectQuery, multi=True)

In [155]:
count = 1
for res in results:
    if res.with_rows:
        print(f"Statment-{count}: {res.statement}")
        print(f"Rows Fetched: {res.fetchall()}")
    count += 1

Statment-1: SELECT * FROM python_de.employees WHERE department='IT'
Rows Fetched: [(5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]
Statment-2: SELECT * FROM python_de.employees WHERE first_name like 'P%'
Rows Fetched: [(1, 'Paul', 'Brandon', datetime.date(1978, 3, 12), 'Sales', '+41 456234')]

#### Write -> INSERT

In [75]:
first_name = "James"
last_name = "Gos"
dob = "1968-02-16"
department = "FNC"
phone_numer = "+34 874592"

In [76]:
insertQuery = f"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES ('{first_name}','{last_name}','{dob}','{department}','{phone_numer}');"
insertQuery

"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES ('James','Gos','1968-02-16','FNC','+34 874592');"

In [77]:
myCursor = dbConn.cursor()
myCursor.execute(insertQuery)

In [79]:
dbConn.commit()

In [80]:
print("No.of.rows affected:", myCursor.rowcount)
print("Last Auto Generated Feild Value:", myCursor.getlastrowid())

No.of.rows affected: 1
Last Auto Generated Feild Value: 7

#### Execute Many

In [119]:
new_employees = [
    ("Shelby","Tarrel","145-10-26","HR","277 089678"),
    ("Lori","Todd","1992-02-07","Sales","895 881432")
]

In [120]:
insertQuery = f"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES (%s, %s, %s, %s, %s);"
insertQuery

'INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES (%s, %s, %s, %s, %s);'

In [121]:
myCursor = dbConn.cursor()
myCursor.executemany(insertQuery, new_employees)

In [122]:
dbConn.commit()

In [123]:
print("No.of.rows affected:", myCursor.rowcount)
print("Last Auto Generated Feild Value:", myCursor.getlastrowid())

No.of.rows affected: 2
Last Auto Generated Feild Value: 8

#### Update -> UPDATE

In [82]:
new_last_name = "Rig"
first_name = "Tina"

In [86]:
updateQuery = f"UPDATE python_de.employees SET last_name='{new_last_name}' where first_name='{first_name}';"
updateQuery

"UPDATE python_de.employees SET last_name='Rig' where first_name='Tina';"

In [87]:
myCursor = dbConn.cursor()
myCursor.execute(updateQuery)

dbConn.commit()

In [89]:
print("No.of.rows affected:", myCursor.rowcount)

No.of.rows affected: 1

#### Delete -> DELETE

In [90]:
id = 3

In [92]:
deleteQuery = f"DELETE FROM python_de.employees where id='{id}';"
deleteQuery

"DELETE FROM python_de.employees where id='3';"

In [93]:
myCursor = dbConn.cursor()
myCursor.execute(deleteQuery)

dbConn.commit()
print("No.of.rows affected:", myCursor.rowcount)

No.of.rows affected: 1

In [156]:
dbConn.close()