## Databases

#### SQL -> MySQL

In [ ]:
import mysql.connector as db

#### Reading properties from files

In [ ]:
from jproperties import Properties

In [ ]:
configs = Properties()
with open('resources/properties/dev.properties', 'rb') as config_file:
    configs.load(config_file)

host = configs.get("HOST").data
port = configs.get("PORT").data
username = configs.get("USERNAME").data
password = configs.get("PASSWORD").data

#### Database connectivity

In [ ]:
dbConn = db.connect(host = host, port = port, user = username, passwd = password)

#### Read -> SELECT

In [ ]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees;"
myCursor.execute(selectQuery)

In [ ]:
res = myCursor.fetchall()
#res = myCursor.fetchmany(size = 2)
#res = myCursor.fetchone()

res

[(1, 'Paul', 'Brandon', datetime.date(1978, 3, 12), 'Sales', '+41 456234'),
 (2, 'Tina', 'Nailor', datetime.date(1980, 11, 9), 'HR', '+41 987456'),
 (3, 'John', 'Doe', datetime.date(1995, 7, 14), 'IT', '+41 877245'),
 (5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]

In [ ]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees WHERE department='IT';"
myCursor.execute(selectQuery)

myCursor.fetchall()

[(5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]

#### Execute Multiple SQL Statements using single execute method

In [ ]:
myCursor = dbConn.cursor()

selectQuery = "SELECT * FROM python_de.employees WHERE department='IT'; SELECT * FROM python_de.employees WHERE first_name like 'P%';"
results = myCursor.execute(selectQuery, multi=True)

In [ ]:
count = 1
for res in results:
    if res.with_rows:
        print(f"Statment-{count}: {res.statement}")
        print(f"Rows Fetched: {res.fetchall()}")
    count += 1

Statment-1: SELECT * FROM python_de.employees WHERE department='IT'
Rows Fetched: [(5, 'Nick', 'Fury', datetime.date(1996, 8, 23), 'IT', '+41 985245')]
Statment-2: SELECT * FROM python_de.employees WHERE first_name like 'P%'
Rows Fetched: [(1, 'Paul', 'Brandon', datetime.date(1978, 3, 12), 'Sales', '+41 456234')]

#### Write -> INSERT

In [ ]:
first_name = "James"
last_name = "Gos"
dob = "1968-02-16"
department = "FNC"
phone_numer = "+34 874592"

In [ ]:
insertQuery = f"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES ('{first_name}','{last_name}','{dob}','{department}','{phone_numer}');"
insertQuery

"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES ('James','Gos','1968-02-16','FNC','+34 874592');"

In [ ]:
myCursor = dbConn.cursor()
myCursor.execute(insertQuery)

In [ ]:
dbConn.commit()

In [ ]:
print("No.of.rows affected:", myCursor.rowcount)
print("Last Auto Generated Feild Value:", myCursor.getlastrowid())

No.of.rows affected: 1
Last Auto Generated Feild Value: 7

#### Execute Many

In [ ]:
new_employees = [
    ("Shelby","Tarrel","145-10-26","HR","277 089678"),
    ("Lori","Todd","1992-02-07","Sales","895 881432")
]

In [ ]:
insertQuery = f"INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES (%s, %s, %s, %s, %s);"
insertQuery

'INSERT INTO python_de.employees(first_name, last_name, dob, department, phone_number) VALUES (%s, %s, %s, %s, %s);'

In [ ]:
myCursor = dbConn.cursor()
myCursor.executemany(insertQuery, new_employees)

In [ ]:
dbConn.commit()

In [ ]:
print("No.of.rows affected:", myCursor.rowcount)
print("Last Auto Generated Feild Value:", myCursor.getlastrowid())

No.of.rows affected: 2
Last Auto Generated Feild Value: 8

#### Update -> UPDATE

In [ ]:
new_last_name = "Rig"
first_name = "Tina"

In [ ]:
updateQuery = f"UPDATE python_de.employees SET last_name='{new_last_name}' where first_name='{first_name}';"
updateQuery

"UPDATE python_de.employees SET last_name='Rig' where first_name='Tina';"

In [ ]:
myCursor = dbConn.cursor()
myCursor.execute(updateQuery)

dbConn.commit()

In [ ]:
print("No.of.rows affected:", myCursor.rowcount)

No.of.rows affected: 1

#### Delete -> DELETE

In [ ]:
id = 3

In [ ]:
deleteQuery = f"DELETE FROM python_de.employees where id='{id}';"
deleteQuery

"DELETE FROM python_de.employees where id='3';"

In [ ]:
myCursor = dbConn.cursor()
myCursor.execute(deleteQuery)

dbConn.commit()
print("No.of.rows affected:", myCursor.rowcount)

No.of.rows affected: 1

In [ ]:
dbConn.close()